In [ ]:
'''
https://colab.research.google.com/drive/1OC9T3uAcf5fk5vc2i3p5H6hiEuqtO8g6#scrollTo=CDpWoQoek_LP&uniqifier=4
steps:
1) conver into lower case: data.lower()
2) remove tags
3) remove urls :
4) remove punctuation
5) remove stopwords
6) tokenization
7) stemming/lemmatization
8) chat word conversion

'''

In [2]:
import pandas as pd
import numpy as np
import nltk 
from nltk import word_tokenize,sent_tokenize
from nltk.corpus import stopwords
import re #to remove urls
import  string #to remove punctuation

In [ ]:
print(string.punctuation)
exclude=string.punctuation
exclude+='“”‘’—…¬'
print(exclude)

def remove_punc(text):
  for char in exclude:
    text=text.replace(char,'')
  return text

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~“”‘’—…¬

In [7]:
df=pd.read_csv('cleaned_tmdb_movies.csv')
df.head(1)

,title,overview,genre_ids,genre_names
0,Zootopia 2,After cracking the biggest case in Zootopia's ...,"16,35,12,10751,9648","Animation,Comedy,Adventure,Family,Mystery"

In [11]:
df.drop(columns=['genre_ids'],inplace=True)
df.head(1)

,title,overview,genre_names
0,Zootopia 2,After cracking the biggest case in Zootopia's ...,"Animation,Comedy,Adventure,Family,Mystery"

In [ ]:
df['overview']=df['overview'].apply(lambda x:remove_punc(x))

In [ ]:
#nltk.download('punkt')
nltk.download('stopwords')
stop_words = stopwords.words('english')