In [1]:
'''
https://colab.research.google.com/drive/1OC9T3uAcf5fk5vc2i3p5H6hiEuqtO8g6#scrollTo=CDpWoQoek_LP&uniqifier=4
steps:
1) conv into lower case: data.lower()
2) remove tags :no need here
3) remove urls :no need here
4)  expand contractions/8) chat word conversion
5)spelling correction : not good choice in genre prediction
4) remove punctuation 
6) tokenization
5) remove stopwords
7) stemming/lemmatization
'''

'\nhttps://colab.research.google.com/drive/1OC9T3uAcf5fk5vc2i3p5H6hiEuqtO8g6#scrollTo=CDpWoQoek_LP&uniqifier=4\nsteps:\n1) conv into lower case: data.lower()\n2) remove tags :no need here\n3) remove urls :no need here\n4)  expand contractions/8) chat word conversion\n5)spelling correction : not good choice in genre prediction\n4) remove punctuation \n6) tokenization\n5) remove stopwords\n7) stemming/lemmatization\n'

In [17]:
import pandas as pd
import numpy as np
import nltk 
from nltk import word_tokenize,sent_tokenize
from nltk.corpus import stopwords
import re #to remove urls
import  string #to remove punctuation
#spelling correction
from textblob import TextBlob
from nltk.stem.porter import PorterStemmer

In [3]:
df=pd.read_csv('cleaned_tmdb_movies.csv')
df.head(1)

,title,overview,genre_ids,genre_names
0,Zootopia 2,After cracking the biggest case in Zootopia's ...,"16,35,12,10751,9648","Animation,Comedy,Adventure,Family,Mystery"

In [4]:
#lower case conversion
df['overview']=df['overview'].str.lower()

In [5]:
df.drop(columns=['genre_ids'],inplace=True)
df.head(1)

,title,overview,genre_names
0,Zootopia 2,after cracking the biggest case in zootopia's ...,"Animation,Comedy,Adventure,Family,Mystery"

In [6]:
df['overview']

0       after cracking the biggest case in zootopia's ...
1       desperate to save his sick daughter, working-c...
2       when young priest jud duplenticy is sent to as...
3       when a reclusive survivalist and his daughter ...
4       a highly sophisticated program called ares is ...
                              ...
9975    captures the performance of "battle of pride" ...
9976    angel falls is a mountain ski resort where a n...
9977    after a failed suicide attempt leaves him part...
9978    a lengthy and detailed examination of the maki...
9979    having lost her memory, the girl wanders alone...
Name: overview, Length: 9980, dtype: object

In [7]:
df['overview'][0]

"after cracking the biggest case in zootopia's history, rookie cops judy hopps and nick wilde find themselves on the twisting trail of a great mystery when gary de’snake arrives and turns the animal metropolis upside down. to crack the case, judy and nick must go undercover to unexpected new parts of town, where their growing partnership is tested like never before."

In [8]:
nltk.download('punkt')
nltk.download('stopwords')
stop_words = stopwords.words('english')
#stop_words

[nltk_data] Downloading package punkt to C:\Users\Aliza
[nltk_data]     Momin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Aliza
[nltk_data]     Momin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
def remove_stopwords(text):
    new_text = []

    for word in text.split():
        if word in stop_words:
            new_text.append('')
        else:
            new_text.append(word)
    x=new_text[:]
    new_text.clear()
    return " ".join(x)

In [10]:
df['overview']=df['overview'].astype(str).apply(lambda x:remove_stopwords(x))

In [11]:
print(string.punctuation)
exclude=string.punctuation
exclude+='“”‘’—…¬'
print(exclude)

def remove_punc(text):
  for char in exclude:
    text=text.replace(char,'')
  return text

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~“”‘’—…¬

In [12]:
df['overview']=df['overview'].astype(str).apply(lambda x:remove_punc(x))
df['overview']

0        cracking  biggest case  zootopias history roo...
1       desperate  save  sick daughter workingclass be...
2        young priest jud duplenticy  sent  assist cha...
3         reclusive survivalist   daughter rescue  mys...
4        highly sophisticated program called ares  sen...
                              ...
9975    captures  performance  battle  pride held  aug...
9976    angel falls   mountain ski resort   nearby vol...
9977      failed suicide attempt leaves  partially cri...
9978     lengthy  detailed examination   making   2012...
9979     lost  memory  girl wanders alone   desert  ru...
Name: overview, Length: 9980, dtype: object

In [13]:
#tokenization
import spacy
nlp =spacy.load('en_core_web_sm')

def word_tokenize_spacy(text):
    doc = nlp(text)
    return [token.text for token in doc]

In [14]:
df['overview']=df['overview'].apply(word_tokenize_spacy)
df['overview']

0       [ , cracking,  , biggest, case,  , zootopias, ...
1       [desperate,  , save,  , sick, daughter, workin...
2       [ , young, priest, jud, duplenticy,  , sent,  ...
3       [  , reclusive, survivalist,   , daughter, res...
4       [ , highly, sophisticated, program, called, ar...
                              ...
9975    [captures,  , performance,  , battle,  , pride...
9976    [angel, falls,   , mountain, ski, resort,   , ...
9977    [  , failed, suicide, attempt, leaves,  , part...
9978    [ , lengthy,  , detailed, examination,   , mak...
9979    [ , lost,  , memory,  , girl, wanders, alone, ...
Name: overview, Length: 9980, dtype: object

In [15]:
df['overview'] = df['overview'].apply(
    lambda tokens: [t for t in tokens if t.isalpha()]
)
df['overview']

0       [cracking, biggest, case, zootopias, history, ...
1       [desperate, save, sick, daughter, workingclass...
2       [young, priest, jud, duplenticy, sent, assist,...
3       [reclusive, survivalist, daughter, rescue, mys...
4       [highly, sophisticated, program, called, ares,...
                              ...
9975    [captures, performance, battle, pride, held, a...
9976    [angel, falls, mountain, ski, resort, nearby, ...
9977    [failed, suicide, attempt, leaves, partially, ...
9978    [lengthy, detailed, examination, making, film,...
9979    [lost, memory, girl, wanders, alone, desert, r...
Name: overview, Length: 9980, dtype: object

In [16]:
df['overview'] = df['overview'].apply(
    lambda tokens: [t.strip() for t in tokens if t.strip()]
)
df['overview']

0       [cracking, biggest, case, zootopias, history, ...
1       [desperate, save, sick, daughter, workingclass...
2       [young, priest, jud, duplenticy, sent, assist,...
3       [reclusive, survivalist, daughter, rescue, mys...
4       [highly, sophisticated, program, called, ares,...
                              ...
9975    [captures, performance, battle, pride, held, a...
9976    [angel, falls, mountain, ski, resort, nearby, ...
9977    [failed, suicide, attempt, leaves, partially, ...
9978    [lengthy, detailed, examination, making, film,...
9979    [lost, memory, girl, wanders, alone, desert, r...
Name: overview, Length: 9980, dtype: object

In [19]:
#lemmatization/stemming
'''
1) Porter Stemmer :nltk
2) snowball stemmer (improved proter/porter2) :nltk
3) Lancaster Stemmer :nltk
4) Regex Stemmer :nltk
5)Lovins Stemmer :nltk

'''
'''
WordNet Lemmatizer1: nltk
spaCy Lemmatizer : spacy
TextBlob Lemmatizer :textblob
Pattern Lemmatizer :pattern
Stanford CoreNLP Lemmatizer :stanfordnlp
Gensim Lemmatization (Wrapper) :gensim

'''

ps=PorterStemmer()

def stem_tokens(tokens):
  return [ps.stem(t) for t in tokens]

df['overview'] = df['overview'].apply(stem_tokens)
df['overview']

0       [crack, biggest, case, zootopia, histori, rook...
1       [desper, save, sick, daughter, workingclass, b...
2       [young, priest, jud, duplentici, sent, assist,...
3       [reclus, survivalist, daughter, rescu, mysteri...
4       [highli, sophist, program, call, are, sent, di...
                              ...
9975    [captur, perform, battl, pride, held, august, ...
9976    [angel, fall, mountain, ski, resort, nearbi, v...
9977    [fail, suicid, attempt, leav, partial, crippl,...
9978    [lengthi, detail, examin, make, film, rust, bo...
9979    [lost, memori, girl, wander, alon, desert, rui...
Name: overview, Length: 9980, dtype: object